*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: rgb(250 238 246);
    margin: 20px 40px 40px 40px;
}
.main1 img:first-of-type{
    width: 300px;
    margin-left: 20px;
}
header{
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
header img{
    width: 80%;
    margin-bottom: 0;
}
header p{
    margin-top: -8px;
    font-size: 18px;
}
header ul{
    list-style-type: none;
    height: 60px;
    padding-top: 6px;
    box-sizing: border-box;
    margin-right: -20px;
}
nav ul li{
    display: inline-block;
    width: 120px;
    padding: 4px;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}
nav ul li:hover{
    background-color: rgb(237 220 211);
    border-radius: 2px;
}
.here{
    color: rgb(194 138 112);
}
.socials{
    width: 320px;
    display: flex;
    justify-content: space-evenly;
}
.socials img{
    max-width: 40px;
}
.main1{
    display: flex;
    justify-content: space-between;
}
.main1 .left{
    margin-left: 30px;
}
.main1 .right{
    margin-right: 40px;
    margin-top: 120px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
}
.more{
    padding: 14px 50px;
    letter-spacing: 2px;
    margin-top: 10px;
    border: 1px solid #868686;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}
.more:hover{
    box-shadow: 0 5px 15px rgba(194, 184, 112, .7);
}
h3{
    font-weight: lighter;
    font-size: 19px;
}
.main2 h3{
    letter-spacing: 1px;
}
.main2 .information{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}
.drawings{
    margin-bottom: 36px;
    width: 100%;
}
.dance{
    width: 100%;
}
.drawings img{
    display: inline-block;
    max-height: 200px;
}
.dance img{
    max-height: 150px;
    display: inline-block;
}
.drawings .imgs, .dance .imgs{
    display: flex;
    justify-content: space-between;
}
.main3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.contactInfo{
    width: 300px;
}
.contactInfo p{
    margin-bottom: 18px;
    display: inline-block;
    width: 250px;
    height: 28px;
    vertical-align: top;
    padding-top: 5px;
    box-sizing: border-box;
}
.contactInfo img{
    width: 28px;
    display: inline-block;
    margin-right: 10px;
}
.message{
    display: inline-block;
    width: 500px;
}
.contactInfo h3, .message h3{
    margin-bottom: 18px;
}
.message input, .message button, .message textarea{
    width: 500px;
    max-width: 500px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #9a9a9a;
    transition: all 0.2s ease-in-out;
}
.message textarea{
    min-height: 70px;
}
.message button{
    background-color: rgba(36, 32, 33, 0.81);
    color: rgb(250 238 246);
    letter-spacing: 2px;
}
.message input:hover, .message textarea:hover, .message button:hover{
    box-shadow: 0 0 2px 2px rgba(200, 164, 112, .7);
}
.message input:focus, .message textarea:focus{
    box-shadow: 0 0 2px 2px rgba(200, 164, 112, .7);
    border: 1px solid black;
}
.message button:focus{
    font-weight: bold;
}
.goBack{
    width: 600px;
    margin: 80px auto 0 auto;
}

@media (max-width: 700px) {
    .main1, .main2, .main3, header, body{
        margin: 0;
        padding: 10px;
        width: 100vw;
    }
    header{
        margin-bottom: 30px;
    }
    header img{
        width: 90%;
        height: 90%;
        margin-bottom: 3px;
    }
    header p{
        font-size: 60%;
    }
    header nav{
        text-align: right;
        margin-top: 12px;
    }
    header ul li{
        font-size: 11px;
    }
    .main1{
        display: block;
    }
    .main1 .left>img{
        display: block;
        width: 250px;
        margin: auto;
        padding-bottom: 10px;
    }
    .main1 .socials{
        width: 250px;
        margin: auto;
        justify-content: space-evenly;
    }
    .main1 .left .socials img{
        width: 30px;
        margin: 0;
    }
    .main1 .right{
        display: block;
        margin: 20px 0 0 0;
        font-size: 14px;
        line-height: 20px;
    }
    .main1 p{
        margin-bottom: 10px;
    }
    .main2 h3{
        font-size: 16px;
    }
    .main2 .information{
        display: block;
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 0;
    }
    .main2 .information>div{
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding-right: 4px;
        height: 130px;
    }
    .main2 .information>div:nth-of-type(2n){
        float: right;
        padding-left: 40px;
    }
    .main2 .information>div:last-of-type{
        margin-top: -40px;
    }
    .main2 .photos{
        margin-top: 0;
        display: block;
        width: 100vw;
    }
    .main2 .imgs{
        display: block;
    }
    .drawings img{
        width: 32%;
    }
    .dance img{
        width: 48%;
    }
    .main3{
        display: block;
    }
    .main3 .contactInfo{
        margin-top: -40px;
    }
    .main3 h3{
        font-size: 16px;
    }
    .main3 p{
        font-size: 13px;
    }
    .main3 img{
        width: 20px;
    }
    .main3 .message{
        margin-top: 30px;
    }
    .main3 .message input, .main3 .message textarea, .main3 .message button{
        width: 92%;
    }
    .goBack{
        margin: 20px 0 0 0;
        padding: 0;
        width: 96%;
    }
    .goBack button{
        width: 49%;
        font-size: 12px;
    }
}